################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/DiabloInterface/bin
/src/DiabloInterface/obj
/src/.vs
/src/DiabloInterface/DiabloInterface.csproj.user
