################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/DiabloInterface/bin
/src/DiabloInterface/obj
/src/.vs
/src/DiabloInterface/DiabloInterface.csproj.user

/src/tests/bin
/src/tests/obj

/src/D2Reader/bin
/src/D2Reader/obj

/src/DiabloInterface.Core/bin
/src/DiabloInterface.Core/obj
/src/DiabloInterface.Server/bin
/src/DiabloInterface.Server/obj

/src/TestResults

# Recommended ignores for Visual Studio NuGet
*.nupkg
**/packages/*
!**/packages/build/
