<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiabloInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DiabloInterface.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FontSizeTitle" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="CreateFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSplits" serializeAs="String">
                <value />
            </setting>
            <setting name="Autosplit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerKeys" serializeAs="String">
                <value />
            </setting>
        </DiabloInterface.Properties.Settings>
    </userSettings>
</configuration>