root = true

[*]
end_of_line = crlf

[*.config]
indent_style = space
indent_size = 4

[*.cs]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.Designer.cs]
trim_trailing_whitespace = false
insert_final_newline = false

[*.xml]
indent_style = space